name: Go package

on:
  release:
    types: [created]

permissions:
  contents: write
  packages: write

jobs:
  build:

    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.19'

      - name: Install dependencies
        run: |
          go get .

      - name: Build
        run: go build -v .

#      - name: Test
#        run: go test -v ./...

      - name: Compress
        run: |
          tar -czvf litra.tar.gz litra

      - uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_content_type: application/tar
          asset_path: litra.tar.gz
          asset_name: litra-macos-amd64.tar.gz

      - name: Generate Hash
        id: hash
        run: echo "SHA256=$(shasum -a 256 ./litra | cut -d ' ' -f1)" >> "$GITHUB_OUTPUT"
        
      - name: Make File
        run: touch sha256.txt

      - name: Upload Hash
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_content_type: text/plain
          asset_path: sha256.txt
          asset_name: ${{ steps.hash.outputs.SHA256 }}